{% extends "letters/base.html" %}
{% block content %}

<h1>Your Dashboard</h1>

<div class="card">
    <h2>Connection Requests</h2>
    {% for r in pending_requests %}
        <p>
            {{ r.requester.username }}
            <a href="{% url 'accept' r.id %}" class="btn btn-success">Accept</a>
        </p>
    {% empty %}
        <p>No requests</p>
    {% endfor %}
</div>

<div class="card">
    <h2>Your Connections</h2>

    {% for c in connections %}
        {% if c.requester == user %}
            <a href="{% url 'conversation' c.receiver.id %}" class="btn btn-primary">
                {{ c.receiver.username }}
            </a>
        {% else %}
            <a href="{% url 'conversation' c.requester.id %}" class="btn btn-primary">
                {{ c.requester.username }}
            </a>
        {% endif %}
    {% empty %}
        <p>No connections yet</p>
    {% endfor %}

</div>

{% endblock %}
