{% extends "letters/base.html" %}
{% block content %}

<h1>Find Users</h1>

<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required>
    <button class="btn btn-primary">Search</button>
</form>

{% if users %}
    {% for u in users %}
        <div class="card">
            {{ u.username }}
            <a class="btn btn-success" href="{% url 'connect' u.id %}">
                Connect
            </a>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}
